html
    include includes/head.pug
body
    include modalWindowLogin.pug
    include includes/header.pug
    h1.text-center.font-weight-normal Add new list
    form.px-5
        .form-group
            label(for='title') Name of list
            input#title.form-control(type='text' placeholder='Name of note' name='title' value=title disabled)
        .form-group
            label(for='text') Example list
            each elem in check_box
                if elem.done == 'false'
                    .input-group.dynamic-form-input
                        input.form-check-input(id=index type='checkbox' name=index checked=false disabled)
                        input.form-control(name='itemList' type='text' placeholder='Add new item' value=elem.text disabled)
            each elem in check_box
                if elem.done == 'true'
                    .input-group.dynamic-form-input
                        input.form-check-input(id=index type='checkbox' name=index checked=true disabled)
                        input.form-control(name='itemList' type='text' placeholder='Add new item' value=elem.text disabled)
        button.btn.btn-warning.mr-2(type='submit' id="btnDetailChangeList") Change list
        button.btn.btn-danger(id="btnDetailRemoveList") Delete list
    include includes/footer.pug