.card.m-3
  .card-body(id=id_card)
    h5.card-title #{title}
     - var data = {array};
    div#checkbox
            each element in data
                each card,index in element
                    if card.done==="false"
                        input(id=index type='checkbox' name=index disabled='')
                    else
                        input(id=index type='checkbox' name=index checked='' disabled='')
                    label(for=index)=card.text
    include buttonCards.pug