.card.m-3
  .card-body
    h5.card-title #{title}
     - var data = {array};
    div#checkbox.d-flex.flex-column
            each element in data
                each card,index in element
                    div.form-check
                        if card.done==="false"
                            input.form-check-input(id=index type='checkbox' name=index disabled)
                            label.form-check-label(for=index)=card.text
            each element in data
                each card,index in element
                    div.form-check
                        if card.done==="true"
                            input.form-check-input(id=index type='checkbox' name=index checked='' disabled)
                            label.form-check-label(for=index)=card.text
    if img == true
        p.card-subtitle.mb-2.text-muted.mt-1 Has image
    div.buttonCards.d-flex.flex-wrap.justify-content-end(id=id_card, class=typeCard)
        include buttonCards.pug