.card.m-3
  .card-body
    h5.card-title #{title}
     - var data = {array};
    div#checkbox.d-flex.flex-column
            each element in data
                each card,index in element
                    div.form-check
                        if card.done==="false"
                            input.form-check-input(id=index type='checkbox' name=index disabled='')
                        else
                            input.form-check-input(id=index type='checkbox' name=index checked='' disabled='')
                        label.form-check-label(for=index)=card.text
    div.buttonCards.d-flex.flex-wrap.justify-content-center(id=id_card, data-type=typeCard)
        include buttonCards.pug